/* @media(max-width: 320px) {
    .navbar {
        width: 100%;
        height: 80px;
        margin-top: 5px;
        font-size: large;
        display: flex;
        justify-content: space-between;
    }

    .navbar ul li {
        display: inline-block;
        line-height: 60px;
        margin: 0 10px;
        padding: 7px 15px;
    }

    .navbar ul {
        float: right;
        margin-right: 20px;
        list-style-type: none;
    }
} */